<ol class="breadcrumb">
    <li><a [routerLink]="['/dashboard']"><span>Dashboard</span></a></li>
    <li><a [routerLink]="['/batchtools']"><span>Batchtools</span></a></li>
    <li><a [routerLink]="['/datatables']"><span>datatables</span></a></li>
</ol>


<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <app-pagetitle></app-pagetitle>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>